@{
    ViewData["Title"] = "World Travel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model world_travel.Models.Experience

<h2>Are you sure you want to delete this?</h2>
<hr />
@Html.DisplayNameFor(model => model.Activity): @Html.DisplayFor(model => model.Activity)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")